h1 {
  color: red;
}

h1.green-heading {
  color: #011306;
}

div.row {
  display: flex;
}

div.col-half {
  width: 50%;
}

div.col-third {
  width: 33.333333333333%;
}

img.responsive {
  width: 100%;
}